<h2>Filterable Movies Table</h2>
Filter:
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" />
</mat-form-field>

<p *ngIf="!dataSource"><em>LOADING...</em></p>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="movieId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> MovieID </th>
      <td mat-cell *matCellDef="let user"> {{user.movieId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let user"> {{user.name}} </td>
    </ng-container>

    <ng-container matColumnDef="released">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Released </th>
      <td mat-cell *matCellDef="let user"> {{user.released}} </td>
    </ng-container>

    <ng-container matColumnDef="movie_Genre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre </th>
      <td mat-cell *matCellDef="let user"> {{user.movie_Genre}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>


<h1>All Movies Table</h1>
<p *ngIf="!moviesList"><em>LOADING...</em></p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>MovieID</th>
      <th>Name</th>
      <th>Released</th>
      <th>Movie_Genre</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let movies of moviesList">
      <td>{{movies.MovieID}}</td>
      <td>{{movies.Name}}</td>
      <td>{{movies.Released}}</td>
      <td>{{movies.Genre}}</td>
    </tr>
  </tbody>
</table>

USING VIEWMODEL TABLE
Which genre of movies would you like to see?
<button (click)="genService.scifi()" [routerLink]="['/genres']">Sci-Fi</button>
<button (click)="genService.comedy()" [routerLink]="['/genres']">Comedy</button>
<button (click)="genService.sad()" [routerLink]="['/genres']">Sad</button>
