<style>
  h1 {
    color: red;
  }

  h2 {
    color: blue;
  }
</style>

<div class="text-center">
  <h2 class="display-4">SRISRI'S COMP 586 Application Features </h2>

  <p>
    1. Create an Account/Login
  </p>
  <p>
    2. See all the movies or choose which genre of movies you'd like to see
  </p>

  <h2 class="display-4">SRISRI'S COMP 586 Object Oriented Project Features </h2>

  <p>
    SPA - Angular Frontend Client-side app
  </p>
  <p>
    MVC - Models Views and Controllers
  </p>
  <p>
    ORM - Entity Framework with SQL Server
  </p>
  <p>
    Dependency Injection - Inject database context (job-context) into Movies Controller
  </p>
  <p>
    Authentication - Auth0
  </p>
  <p>
    Deployment - AWS http://tutorialapp-prod.us-west-2.elasticbeanstalk.com/
  </p>
  <p>
    GitHub - https://github.com/sgoka001/CinemaApp
  </p>

  <h1> If Log In doesn't work, clear browser cookies!!!</h1>
</div>
