<style>
  h1 {
    color: red;
  }

  h2 {
    color: blue;
  }

  h3 {
      color: darkred;
  }

  h4 {
      color: darkblue;
  }
</style>

<div class="text-center">
  <h2 class="display-4">SRISRI'S COMP 586 Application Features </h2>

  <h4>
  <p>
    1. Create an Account/Login
  </p>
  <p>
    2. Using the Movies tab, see the All Movies Table or choose which genre of movies you'd like to see
  </p>
    </h4>

  <br />


  <h1> If Log In doesn't work, clear browser cookies!!!</h1>
  <h3> ... but it will work, just don't forget to logout after you're done :) </h3>


  <br />

  <h5> Please run on port 5001 (not IISExpress but CinemaApp in launchsettings) </h5>
</div>
